@model PedidoFacil.Entidades.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeAbreviado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAbreviado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoFabrica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoFabrica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TributaIpi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TributaIpi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
